<nav aria-label="Pagination news page" class="pagination">
  <!-- <button class="pagination__pervios pagination__button">< Perv</button>

      <button class="pagination__first pagination__button hidden">1</button>

      <span class="pagination_perv_dots hidden">...</span>

      <button class="pagination__current-page pagination__button"></button>

      <button class="pagination__increment pagination__button"></button>

      <button class="pagination__double-increment pagination__button"></button>

      <span class="pagination__post-dots">...</span>

      <button class="pagination__last pagination__button"></button>

      <button class="pagination__next pagination__button">Next ></button> -->
</nav>
