.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 18px;
}

.pagination__button {
    min-height: 33px;
    min-width: 30px;
}

.hidden {
    position: absolute;
    width: -1;
    height: -1;
    display: none;
}


nav {
    list-style: none;
    list-style-image: none;
}

.pagination__current-page {
    background-color: lime;
}